
<h4 class="content-title">Welcome </h4>
<hr>
<div class="submission-index-content">
  Here are some instructions on how to proceed. Make sure you have followed the instructions from <a href="https://carleton.ca/culearn/">cuLearn</a> before you submit anything.

  <br>
  <br>
  Select a problem on the side bar to upload and test an assignment.
</div>
