<div class="input-field">
  <div class='col s1 offset-s7 push-down' style={{displaySpinner}} >
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-section" style={{displayButton}}>
    <button class="btn waves-effect waves-light" type="button" {{action "clicked"}} tabindex="3" name="action">{{displayButtonText}}
            <i class="material-icons right">send</i>
    </button>
</div>