<div class="submission-wrapper">
  <div class="submission-sidebar hide-on-small-only z-depth-2">
    <div class="assignment-header">
      {{#link-to 'submission' class="assignment-header"}}Assignments{{/link-to}}
      
    </div>
    <ul class="assignment-list">
      <li>{{#link-to 'submission.assignment' 1 class="problem-link"}}Problem 1{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' 2 class="problem-link"}}Problem 2{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' 3 class="problem-link"}}Problem 3{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' 4 class="problem-link"}}Problem 4{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' 5 class="problem-link"}}Problem 5{{/link-to}}</li>
    </ul>
  </div>

  <div class="submission-content">
  {{!-- This out let is for everything on the right side of the page --}}
    {{outlet}}
  </div>
</div>