<div class="submission-wrapper">
  <div class="submission-sidebar z-depth-2 hide-on-med-and-down">
    <div class="assignment-header">
      {{#link-to 'submission' class="assignment-header"}}Assignments{{/link-to}}
      
    </div>
    <ul class="assignment-list">

      {{#each displayAssignmentObjectArray as |assignment|}}
        <li>{{#link-to 'submission.assignment' assignment.route id=assignment.id class="problem-link"}}{{assignment.title}}{{/link-to}}</li>
      {{else}}
        <li>No assignments</li>
      {{/each}}
    </ul>
  </div>

  <div class="submission-content">
  {{!-- This out let is for everything on the right side of the page --}}
    {{outlet}}
  </div>
</div>