<div class="submission-wrapper">
  <div class="submission-sidebar z-depth-2 hide-on-med-and-down">
    <div class="assignment-header">
      {{#link-to 'submission' class="assignment-header"}}Assignments{{/link-to}}
      
    </div>
    <ul class="assignment-list">

      {{#each assignment in displayAssignmentObjectArray}}
        <li>{{#link-to 'submission.assignment' assignment.route id=assignment.id class="problem-link"}}{{assignment.title}}{{/link-to}}</li>
      {{/each}}


      {{!-- <li>{{#link-to 'submission.assignment' 1 id="a1" class="problem-link"}}Assignment 1{{/link-to}}</li>

      <li>{{#link-to 'submission.assignment' 2 id="a2" class="problem-link"}}Assignment 2{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' "2x" id="a2x" class="problem-link"}}Assignment 2 X{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment'3 id="a3"  class="problem-link"}}Assignment 3{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' "3x" id="a3x" class="problem-link"}}Assignment 3 X{{/link-to}}</li>

      <li>{{#link-to 'submission.assignment' 4 id="a4" class="problem-link"}}Assignment 4{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' "4x" id="a4x" class="problem-link"}}Assignment 4 X{{/link-to}}</li>

      <li>{{#link-to 'submission.assignment' 5 id="a5" class="problem-link"}}Assignment 5{{/link-to}}</li>
      <li>{{#link-to 'submission.assignment' "5x" id="a5x" class="problem-link"}}Assignment 5 X{{/link-to}}</li> --}}
    </ul>
  </div>

  <div class="submission-content">
  {{!-- This out let is for everything on the right side of the page --}}
    {{outlet}}
  </div>
</div>