nav.top-bar {
	height: 90px;
	padding-top:10px;
}

#carleton-logo {
	padding-left: 5px; 
}

#ds-algo-title{
	padding-top:4px;
	padding-left: 5px;
}

nav li a.active {
	color: #fff;
	background: #d32f2f;
}

nav ul#nav-mobile {
	position: relative;
  	top: -10px;
}

nav li a {
	height: 90px;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease-out;
    padding-top: 12px;
  	font-weight: lighter;
  	font-size: large;
}