nav.top-bar {
	height: 90px;
	padding-top:10px;
}

#carleton-logo {
	padding-left: 20px; 
}
#ds-algo-title-small {
  padding-top: 4px;
  padding-left: 75px;
  font-weight: lighter;
  font-size: medium;

}
#ds-algo-title{
	padding-top:4px;
	padding-left: 60px;
  font-weight: lighter;
  font-size: x-large;
}

nav li a.active {
	color: #fff;
	background: #d32f2f;
}

nav ul#nav-mobile {
  position: relative;
  top: -10px;
}

nav li a {
	height: 90px;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-out;
  padding-top: 16px;
	font-weight: lighter;
	font-size: large;
}