 <ul class="collapsible" data-collapsible="expandable">
  {{#each displayAssignmentObjectArray as |assignment|}}
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_ind</i>{{assignment.title}}</div>
      <div class="collapsible-body">
        {{#if assignment.rank}}
          {{your-ranking.rank-trophy ranked=assignment.rank
                                     totalStudentsInRanking=assignment.totalNumber
                                     }}
        {{else}}
          <div class="not-ready">
            <i class="material-icons not-ready-icon">new_releases</i> Assignment rankings are not ready yet.
          </div> 
        {{/if}}
      </div>
    </li>


  {{else}}
    <div class="collapsible-header"><i class="material-icons">error_outline</i>No assignments</div>
    <div class="collapsible-body">Either the instructor did not showcase any assignment yet or you need to update your browser. </div>
  {{/each}}
    
   
  </ul>