.logged-in-bar{
  float:right;
  font-weight: lighter;
  font-size: initial;
  color: whitesmoke;
  top: -20px;
  position: relative;
  background: rgb(33, 33, 33) none repeat scroll 0% 0%;
  padding: 0px 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: -1;
  width: 281px;
}

.manipulate-session {
  cursor:pointer;
  color: #039be5;
  text-decoration: underline;

}