<div class="logged-in" style={{displayLogout}}>
  <i class="material-icons left" style="padding-top:5px">
perm_identity</i> {{displayLoginUsername}} <a class="manipulate-session" {{action 'logout' }}>Logout</a>
</div>

<div class="logged-out" style={{displayLogin}}>
  {{#link-to "application" class="manipulate-session"}}Login{{/link-to}}
</div>

