<div class="logged-in" style={{displayLogout}}>
  Logged in as {{displayLoginUsername}},  <a {{action 'logout'}}>Logout?</a>
</div>

<div class="logged-out" style={{displayLogin}}>
  {{#link-to "application"}}Login{{/link-to}}
</div>

