<div class="logged-in" style={{displayLogout}}>
  Logged in as {{displayLoginUsername}},  <a class="manipulate-session" {{action 'logout' }}>Logout?</a>
</div>

<div class="logged-out" style={{displayLogin}}>
  {{#link-to "application" class="manipulate-session"}}Login{{/link-to}}
</div>

